In [2]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (from sklearn) (0.23.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.19.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp 1018tx\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn->sklearn) (0.17.0)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv("petrol_consumption.csv")
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [5]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [6]:
data.isnull().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64