In [8]:
num = {1,2,3}
print(num)

num1 = {2.0, "Hello", (1,2,3)}
print(num1)

print(type(num1))

{1, 2, 3}
{'Hello', 2.0, (1, 2, 3)}
<class 'set'>

In [36]:
#empty {} will make an empty dictionary,
#empty () will make an empty set

a = {}
print(type(a))

x = set()
print(type(x))

y = set("Python")
print(y)

<class 'dict'>
<class 'set'>
{'y', 't', 'n', 'P', 'h', 'o'}

In [18]:
#set do not have duplicates
numSet = {1,2,3,4,5,6,2,1,5,4,3}
print(numSet)

#listSet = {2,3,[5,6]}  #since list r mutaple not allowed in set
#print(listSet)

tupleSet = {2,3,(5,6)}  #since tuple r immutaple allowed in set
print(tupleSet)

{1, 2, 3, 4, 5, 6}
{(5, 6), 2, 3}

In [26]:
print(numSet)
#add a single element we can use add()
numSet.add(7)
print(numSet)

#add a multiple element we can use update()
numSet.update([8,9,10])
print(numSet)

numSet.update([11,12],{13,14,15})
print(numSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [29]:
#to remove element from a set

print(numSet)

numSet.discard(12)
print(numSet)

numSet.remove(7)
print(numSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 15}

In [37]:
print(y)

y.pop() #to pop an element
print(y)

y.clear() #to clear the set
print(y)

{'y', 't', 'n', 'P', 'h', 'o'}
{'t', 'n', 'P', 'h', 'o'}
set()

In [1]:
#union is performed using | operator or can use union()
#intersection is performed using & operator or can use intersection()

set1 = {'a','b','c'}
set2 = {1,2,3}

set3 = set1&set2
print(set3)

set()

In [41]:
#the set() constructor

fruitSet = set(("apple","cherry","peach"))
print(type(fruitSet))

<class 'set'>

In [2]:
x = {"Apple","Cherry","Peach"}
y = {"Microsoft","Google","Apple"}

z = x&y
print(z)

{'Apple'}

In [44]:
#to return those which show uncommon one
xd = x.symmetric_difference(y)
print(xd)

{'Google', 'peach', 'cherry', 'Microsoft'}

In [45]:
#show only thiose element uncommon in x 
d = x.difference(y)
print(d)

{'cherry', 'peach'}

In [46]:
#to show whether there r any common elements or not
idis = x.isdisjoint(y)
print(idis)

False

In [47]:
#DICTIONARIES
#collection which is unordered,changable and indexed

In [76]:
myDict = {
    "Fname" : "Varun",
    "Lname" : "Khadayate",
    "Address" : "Panvel"
}
print(myDict)

{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Panvel'}

In [64]:
#accessing items 
x = myDict["Fname"]
print(x)

Varun

In [65]:
#to change values
print(myDict)
myDict["Address"] = "Kharghar"
print(myDict)

#we can also add it
myDict["Email"] = "varunkhadayate0810@gmail.com"
print(myDict)

{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Panvel'}
{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Kharghar'}
{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Kharghar', 'Email': 'varunkhadayate0810@gmail.com'}

In [66]:
#loop throgh dictionary

for x in myDict:  #print all key names in dictioanry  one by one
    print(x)
    
print("-------------")

for x in myDict.values():  
    print(x)

Fname
Lname
Address
Email
-------------
Varun
Khadayate
Kharghar
varunkhadayate0810@gmail.com

In [67]:
print(len(myDict))

4

In [74]:
#removing elements 
#can use pop n del
print(myDict)

#myDict.pop('Fname')
#print(myDict)

myDict.pop('Address')
print(myDict)

{'Lname': 'Khadayate', 'Address': 'Kharghar', 'Email': 'varunkhadayate0810@gmail.com'}
{'Lname': 'Khadayate', 'Email': 'varunkhadayate0810@gmail.com'}

In [77]:
#myDict.clear()
print(myDict)

{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Panvel'}

In [78]:
thisDict = {
    "Fname" : "Varun",
    "Lname" : "Khadayate",
    "Address" : "Panvel"
}
print(thisDict)

myDict = thisDict.copy()
print(myDict)

{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Panvel'}
{'Fname': 'Varun', 'Lname': 'Khadayate', 'Address': 'Panvel'}

In [84]:
#nested dictionary
myFamily = {
    "child1" : {
        "Name" : "Varun",
        "Year" : "2001"
    },
    "child2" : {
        "Name" : "Mahendra",
        "Year" : "1970"
    },
    "child3" : {
        "Name" : "Amita",
        "Year" : "1972"
    }
}
print(myFamily)

{'child1': {'Name': 'Varun', 'Year': '2001'}, 'child2': {'Name': 'Mahendra', 'Year': '1970'}, 'child3': {'Name': 'Amita', 'Year': '1972'}}

In [91]:
c1 = {
        "Name" : "Varun",
        "Year" : "2001"
    }
c2 = {
        "Name" : "MAK",
        "Year" : "1970"
    }
c3 = {
        "Name" : "Amita",
        "Year" : "1972"
    }
myFamily = {
    "child1" : c1,
    "child2" : c2,
    "child3" : c3
}
print(myFamily)

{'child1': {'Name': 'Varun', 'Year': '2001'}, 'child2': {'Name': 'MAK', 'Year': '1970'}, 'child3': {'Name': 'Amita', 'Year': '1972'}}

In [92]:
#to print a dictionary where keys are numbers between 1 and 15
#and the value are cube of keys
numdict = {}
for x in range(1,16):
    numdict[x]=x*x*x
print(numdict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}

In [ ]:
#Write a Python program to reverse a string.